/*----------------HEADER ALL------------*/
header {
    font-family: 'Lora', serif;

    .navbar {
        padding-top: 0%;
        padding-bottom: 0%;
    }

    .container-fluid {
        background-color: $colorPrimary;
    }

    .navbar-nav {
        width: 100%;
        justify-content: space-around;
        a {
            color: $contrastColor;
        }
    }

    .navbar-toggler {
        border: 1px solid $contrastColor;

        img {
            max-width: 30px;
        }
    }

}
