/* ----------------main index-----------------*/
.main-index {
    background-color: $colorPrimary;
    display: grid;
    grid-template-columns: 100%;
    justify-items: center;
    border: 1px solid $contrastColor;

    article {
        font-size: 20px;
        text-align: center;
        min-width: 90%;
        padding: 5px;
        color: $contrastColor;


        h1 {
            font-size: 45px;
            color: $contrastColor;
        }

        h2 {
            color: $contrastColor;
        }

        p {
            color: $contrastColor;
        }
    }
}

.noticia {
    @include oldCard(center);

    article {
        h3 {
            margin-bottom: 1%;
            color: $contrastColor;
        }

        p {
            margin-bottom: 1%;
        }
    }

    .novedad__imagen img {
        font-size: 15px;
        margin-top: 1%;
        border: 1px solid $contrastColor;
    }

}