/* ----------------main menu (bst)-----------------*/
.menu {
    display: flex;
    justify-content: space-around;

    h5 {
        text-decoration: underline;
        color: $contrastColor;
    }

    p {
        color: $contrastColor;
    }

    ul {
        color: $contrastColor;
    }

    .card-header {
        text-decoration: underline;
        background-color: $colorPrimary;
        color: $contrastColor;
    }

    .card-body--1 {
        background-color: $colorPrimary;
    }

}