/* ----------------main nosotros (bst)-----------------*/

.col-md-8 {
    background-color: #161616;
    color: azure;

    h5 {
        text-decoration: underline;
    }
}

.col-md-4 {
    background-color: #161616;
}