/* ----------------main nosotros (bst)-----------------*/

.col-md-8 {
    background-color: $colorPrimary;
    color: $contrastColor;

    h5 {
        text-decoration: underline;
    }
}

.col-md-4 {
    background-color: $colorPrimary;
}